/*Main window*/
body{
  background-color: tomato;
}

.row.center{
  justify-content: center;
}

.text-big{
  text-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
  color: rgb(255, 255, 255);
  font-size: 5.5em;
}

.row.pomodoro-count{
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
  font-weight: bold;
}

/* Todo window*/
.task-box{
  margin-top: 10px;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
  font-weight: bold;
}

.row input[type=text]{
  margin-bottom: 10px;
}
