p{visibility: hidden;}

label{
  font-weight: bold;
  color: white;
  padding-top: 5px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
  box-sizing: border-box;
}

.container h1{
  text-align: center;
  background: #E53935;
  text-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
  z-index: 1;
  border-radius: 50px 5px 50px 5px ;
  width: 95%;
  margin: 10px auto;
  transition: 0.3s;
  font-weight: bold;
}

.container h1:hover{box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.5); z-index: 5;}
.container h1:active{box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5); z-index: 0;}

.row.center{
  justify-content: center;
}

.text-big{
  text-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
  color: rgb(255, 255, 255);
  font-size: 6em;
}

#tiempo{
  width: 50px;
  margin-left:10px;
  text-align: center;
}

.button-red{background:#c62828; color:white;}
.button-green#iniciar{background: #43a047;}
